{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
  $(document).ready(function() { 

      // register urls for models that sync with django-backbone
      viron.models.Content.prototype.urlRoot = "{% url backbone:tmesis_content %}";

      // make backbone.sync XHR send the csrf token
      // See: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
      var oldSync = Backbone.sync;
      Backbone.sync = function(method, model, options) {
          options.beforeSend = function(xhr){
              xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          };
          return oldSync(method, model, options);
      };

      // go
      app = new viron.application();
      app.start();
  }); 
</script>
{% endblock %}
